/*
AskNews API

AskNews API [![status](https://status.asknews.app/api/badge/2/status?style=for-the-badge)](https://status.asknews.app/status/prod)

API version: 0.24.22
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package asknews

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// ForecastAPIService ForecastAPI service
type ForecastAPIService service

type ApiGetForecastRequest struct {
	ctx context.Context
	ApiService *ForecastAPIService
	query *string
	lookback *int32
	articlesToUse *int32
	method *string
	model *string
	cutoffDate *string
	useReddit *bool
	additionalContext *string
	webSearch *bool
	expert *string
}

// The requested forecast.
func (r ApiGetForecastRequest) Query(query string) ApiGetForecastRequest {
	r.query = &query
	return r
}

// The number of days to look back for the forecast.
func (r ApiGetForecastRequest) Lookback(lookback int32) ApiGetForecastRequest {
	r.lookback = &lookback
	return r
}

// The total number of relevant articles to be extracted from the news archive and used for the forecast.
func (r ApiGetForecastRequest) ArticlesToUse(articlesToUse int32) ApiGetForecastRequest {
	r.articlesToUse = &articlesToUse
	return r
}

// Method to use for the context search Currently only &#39;kw&#39; is supported.
func (r ApiGetForecastRequest) Method(method string) ApiGetForecastRequest {
	r.method = &method
	return r
}

// The model to use for the forecast.
func (r ApiGetForecastRequest) Model(model string) ApiGetForecastRequest {
	r.model = &model
	return r
}

// The cutoff date for the forecast. String format is &#39;YYYY-MM-DD-HH:MM&#39;. This is useful  for backtesting forecasts.
func (r ApiGetForecastRequest) CutoffDate(cutoffDate string) ApiGetForecastRequest {
	r.cutoffDate = &cutoffDate
	return r
}

// Whether to use Reddit data for the forecast.enterprise customers only.
func (r ApiGetForecastRequest) UseReddit(useReddit bool) ApiGetForecastRequest {
	r.useReddit = &useReddit
	return r
}

// Additional context to use for the forecast.
func (r ApiGetForecastRequest) AdditionalContext(additionalContext string) ApiGetForecastRequest {
	r.additionalContext = &additionalContext
	return r
}

// Whether to run a live web search and include results in the forecast. enterprise customers only.
func (r ApiGetForecastRequest) WebSearch(webSearch bool) ApiGetForecastRequest {
	r.webSearch = &webSearch
	return r
}

// The type of expert to use for the forecast.
func (r ApiGetForecastRequest) Expert(expert string) ApiGetForecastRequest {
	r.expert = &expert
	return r
}

func (r ApiGetForecastRequest) Execute() (*ForecastResponse, *http.Response, error) {
	return r.ApiService.GetForecastExecute(r)
}

/*
GetForecast Make an expert forecast for a news event.

Make an expert forecast for a news event.

This endpoint reaches into the news archive, looking back `lookback` days to
extract the most relevant news articles, building a timeline of events, and
then making an expert forecast.

This endpoint is more expensive than the search endpoint, it is calling
gpt-4o or claude 3-5 on approx 15k tokens to build the forecast.
This endpoint counts toward "deep" calls in the billing system.

It returns the forecast, the reasoning, and the sources.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetForecastRequest
*/
func (a *ForecastAPIService) GetForecast(ctx context.Context) ApiGetForecastRequest {
	return ApiGetForecastRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ForecastResponse
func (a *ForecastAPIService) GetForecastExecute(r ApiGetForecastRequest) (*ForecastResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ForecastResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ForecastAPIService.GetForecast")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/chat/forecast"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.query == nil {
		return localVarReturnValue, nil, reportError("query is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	if r.lookback != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "lookback", r.lookback, "form", "")
	} else {
		var defaultValue int32 = 14
		r.lookback = &defaultValue
	}
	if r.articlesToUse != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "articles_to_use", r.articlesToUse, "form", "")
	} else {
		var defaultValue int32 = 15
		r.articlesToUse = &defaultValue
	}
	if r.method != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "method", r.method, "form", "")
	} else {
		var defaultValue string = "kw"
		r.method = &defaultValue
	}
	if r.model != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "model", r.model, "form", "")
	} else {
		var defaultValue string = "gpt-4.1-2025-04-14"
		r.model = &defaultValue
	}
	if r.cutoffDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cutoff_date", r.cutoffDate, "form", "")
	}
	if r.useReddit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "use_reddit", r.useReddit, "form", "")
	} else {
		var defaultValue bool = false
		r.useReddit = &defaultValue
	}
	if r.additionalContext != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "additional_context", r.additionalContext, "form", "")
	}
	if r.webSearch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "web_search", r.webSearch, "form", "")
	} else {
		var defaultValue bool = false
		r.webSearch = &defaultValue
	}
	if r.expert != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "expert", r.expert, "form", "")
	} else {
		var defaultValue string = "general"
		r.expert = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = "Bearer " + apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
