/*
AskNews API

AskNews API [![status](https://status.asknews.app/api/badge/2/status?style=for-the-badge)](https://status.asknews.app/status/prod)

API version: 0.24.27
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package asknews

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
)


// RedditAPIService RedditAPI service
type RedditAPIService service

type ApiSearchRedditRequest struct {
	ctx context.Context
	ApiService *RedditAPIService
	keywords *[]*string
	nThreads *int32
	method *string
	deep *bool
	returnType *string
	timeFilter *string
	sort *string
}

// Keywords used to search for relevant Reddit threads.
func (r ApiSearchRedditRequest) Keywords(keywords []*string) ApiSearchRedditRequest {
	r.keywords = &keywords
	return r
}

// Number of Reddit threads to summarize and return
func (r ApiSearchRedditRequest) NThreads(nThreads int32) ApiSearchRedditRequest {
	r.nThreads = &nThreads
	return r
}

// The search method. Can be &#39;nl&#39; or &#39;kw&#39;. If &#39;nl&#39;, then the query will be used as a natural language query. If &#39;kw&#39;, then the query will be used as a direct keyword query.
func (r ApiSearchRedditRequest) Method(method string) ApiSearchRedditRequest {
	r.method = &method
	return r
}

// Deep means that AskNews goes directly to Reddit, searches live, summarizes the threads live, and returns structured data for you. Deep&#x3D;False means that AskNews looks in its existing database of Reddit threads and returns the most similar threads 
func (r ApiSearchRedditRequest) Deep(deep bool) ApiSearchRedditRequest {
	r.deep = &deep
	return r
}

// The return type. Can be &#39;dicts&#39;, &#39;string&#39;, or &#39;both&#39;.
func (r ApiSearchRedditRequest) ReturnType(returnType string) ApiSearchRedditRequest {
	r.returnType = &returnType
	return r
}

// The time filter.
func (r ApiSearchRedditRequest) TimeFilter(timeFilter string) ApiSearchRedditRequest {
	r.timeFilter = &timeFilter
	return r
}

// The sort order.
func (r ApiSearchRedditRequest) Sort(sort string) ApiSearchRedditRequest {
	r.sort = &sort
	return r
}

func (r ApiSearchRedditRequest) Execute() (*RedditResponse, *http.Response, error) {
	return r.ApiService.SearchRedditExecute(r)
}

/*
SearchReddit Search Reddit, summarize threads, and return analysis.

Go to Reddit, search threads, summarize the threads, return analysis.
`deep`=True is a live web scrape, AskNews searches Reddit, finds threads,
summarizes them, analyzes them, and returns the results. `deep`=False
is a search in AskNews' existing database of Reddit threads.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSearchRedditRequest
*/
func (a *RedditAPIService) SearchReddit(ctx context.Context) ApiSearchRedditRequest {
	return ApiSearchRedditRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return RedditResponse
func (a *RedditAPIService) SearchRedditExecute(r ApiSearchRedditRequest) (*RedditResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RedditResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RedditAPIService.SearchReddit")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/reddit/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.keywords == nil {
		return localVarReturnValue, nil, reportError("keywords is required and must be specified")
	}

	{
		t := *r.keywords
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "keywords", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "keywords", t, "form", "multi")
		}
	}
	if r.nThreads != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "n_threads", r.nThreads, "form", "")
	} else {
		var defaultValue int32 = 5
		r.nThreads = &defaultValue
	}
	if r.method != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "method", r.method, "form", "")
	} else {
		var defaultValue string = "kw"
		r.method = &defaultValue
	}
	if r.deep != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deep", r.deep, "form", "")
	} else {
		var defaultValue bool = false
		r.deep = &defaultValue
	}
	if r.returnType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "return_type", r.returnType, "form", "")
	} else {
		var defaultValue string = "string"
		r.returnType = &defaultValue
	}
	if r.timeFilter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "time_filter", r.timeFilter, "form", "")
	} else {
		var defaultValue string = "day"
		r.timeFilter = &defaultValue
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	} else {
		var defaultValue string = "relevance"
		r.sort = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ValidationErrorModel
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 405 {
			var v AbcAPIErrorModel53
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v AbcAPIErrorModel54
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v AbcAPIErrorModel55
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v AbcAPIErrorModel56
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v AsknewsApiErrorsAPIErrorModel
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
