/*
AskNews API

AskNews API [![status](https://status.asknews.app/api/badge/2/status?style=for-the-badge)](https://status.asknews.app/status/prod)

API version: 0.31.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package asknews

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"time"
	"reflect"
)


// WebsearchAPIService WebsearchAPI service
type WebsearchAPIService service

type ApiLiveWebSearchRequest struct {
	ctx context.Context
	ApiService *WebsearchAPIService
	queries *[]*string
	lookback *int32
	startDatetime *time.Time
	endDatetime *time.Time
	engine *string
	domains *[]string
	strict *bool
	offset *Offset1
}

// A list of queries to be live searched, analyzed, distilled, and structured.
func (r ApiLiveWebSearchRequest) Queries(queries []*string) ApiLiveWebSearchRequest {
	r.queries = &queries
	return r
}

// Number of hours back to allow the websearch to look. Defaults to All time
func (r ApiLiveWebSearchRequest) Lookback(lookback int32) ApiLiveWebSearchRequest {
	r.lookback = &lookback
	return r
}

// Earliest acceptable publication datetime for results. For v1, acts like the existing lookback filter.
func (r ApiLiveWebSearchRequest) StartDatetime(startDatetime time.Time) ApiLiveWebSearchRequest {
	r.startDatetime = &startDatetime
	return r
}

// Latest acceptable publication datetime for results. 
func (r ApiLiveWebSearchRequest) EndDatetime(endDatetime time.Time) ApiLiveWebSearchRequest {
	r.endDatetime = &endDatetime
	return r
}

// Search engine version to use for live websearch results.
func (r ApiLiveWebSearchRequest) Engine(engine string) ApiLiveWebSearchRequest {
	r.engine = &engine
	return r
}

// A list of domains to search.
func (r ApiLiveWebSearchRequest) Domains(domains []string) ApiLiveWebSearchRequest {
	r.domains = &domains
	return r
}

// If true, the websearch will only return results that have a known publication date and are within the lookback period.
func (r ApiLiveWebSearchRequest) Strict(strict bool) ApiLiveWebSearchRequest {
	r.strict = &strict
	return r
}

// The number of results to offset for followup queries. Numeric for regular websearch; X (Twitter) searches return an opaque cursor string in response.offset â€” pass it back here to paginate.
func (r ApiLiveWebSearchRequest) Offset(offset Offset1) ApiLiveWebSearchRequest {
	r.offset = &offset
	return r
}

func (r ApiLiveWebSearchRequest) Execute() (*WebSearchResponse, *http.Response, error) {
	return r.ApiService.LiveWebSearchExecute(r)
}

/*
LiveWebSearch Run a live websearch.

Run a live websearch on a set of queries, get back a fully structured and
LLM-distilled response (in addition to the raw text if you need that as well).

Your response includes as_string and as_dicts, where as_string is a prompt-optimized
distillation of the information, done by an LLM. as_dicts contains all the details
necessary to feed into other parts of your application.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiLiveWebSearchRequest
*/
func (a *WebsearchAPIService) LiveWebSearch(ctx context.Context) ApiLiveWebSearchRequest {
	return ApiLiveWebSearchRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return WebSearchResponse
func (a *WebsearchAPIService) LiveWebSearchExecute(r ApiLiveWebSearchRequest) (*WebSearchResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *WebSearchResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WebsearchAPIService.LiveWebSearch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/chat/websearch"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.queries == nil {
		return localVarReturnValue, nil, reportError("queries is required and must be specified")
	}

	{
		t := *r.queries
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "queries", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "queries", t, "form", "multi")
		}
	}
	if r.lookback != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "lookback", r.lookback, "form", "")
	}
	if r.startDatetime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_datetime", r.startDatetime, "form", "")
	}
	if r.endDatetime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_datetime", r.endDatetime, "form", "")
	}
	if r.engine != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "engine", r.engine, "form", "")
	} else {
		var defaultValue string = "v1"
		r.engine = &defaultValue
	}
	if r.domains != nil {
		t := *r.domains
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "domains", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "domains", t, "form", "multi")
		}
	}
	if r.strict != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "strict", r.strict, "form", "")
	} else {
		var defaultValue bool = false
		r.strict = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue Offset1
		r.offset = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = "Bearer " + apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
