openapi: 3.1.0
info:
  description: "AskNews API [![status](https://status.asknews.app/api/badge/2/status?style=for-the-badge)](https://status.asknews.app/status/prod)"
  title: AskNews API
  version: 0.24.27
servers:
- url: https://api.asknews.dev
paths:
  /v1/news/search:
    get:
      description: |-
        Search for any news, up to the last 5 minutes or in our extensive historical archive
        filled with 100s of millions of articles.

        Geared toward low-latency applications, where time is of the essence. For example, this
        endpoint is commonly used for quickly getting news context for an LLM.

        This endpoint is also commonly used for synthetic data curation. For example, say you
        are fine-tuning a model for sports. You could filter  with `classification="Sports"`
        and build a dataset of sports articles.

        News articles come with an abundance of valuable metadata, including full summaries, sentiment,
        entities, reporting voice, page rank, language, and much much more.

        An example of this data in action can be found and interacted with at `https://asknews.app/chat`
      operationId: search_news
      parameters:
      - description: "Query string that can be any phrase, keyword, question, or paragraph.\
          \ If method='nl', then this will be used as a natural language query. If\
          \ method='kw', then this will be used as a direct keyword query. This is\
          \ not required, if it is not passed, then the search is based on the remaining\
          \ filters only."
        explode: true
        in: query
        name: query
        required: false
        schema:
          default: ""
          description: "Query string that can be any phrase, keyword, question, or\
            \ paragraph. If method='nl', then this will be used as a natural language\
            \ query. If method='kw', then this will be used as a direct keyword query.\
            \ This is not required, if it is not passed, then the search is based\
            \ on the remaining filters only."
          title: Query
          type: string
        style: form
      - description: Number of articles to return
        explode: true
        in: query
        name: n_articles
        required: false
        schema:
          default: 10
          description: Number of articles to return
          title: N Articles
          type: integer
        style: form
      - description: Timestamp to start search from
        explode: true
        in: query
        name: start_timestamp
        required: false
        schema:
          nullable: true
          type: integer
        style: form
      - description: Timestamp to end search at
        explode: true
        in: query
        name: end_timestamp
        required: false
        schema:
          nullable: true
          type: integer
        style: form
      - description: "Control which date type to filter on. 'crawl_date' is the date\
          \ the article was crawled, 'pub_date' is the date the article was published."
        explode: true
        in: query
        name: time_filter
        required: false
        schema:
          default: crawl_date
          description: "Control which date type to filter on. 'crawl_date' is the\
            \ date the article was crawled, 'pub_date' is the date the article was\
            \ published."
          enum:
          - crawl_date
          - pub_date
          title: Time Filter
          type: string
        style: form
      - description: "Type of return value. 'string' means that the return is prompt-optimized\
          \ and ready to be immediately injected into any prompt. 'dicts' means that\
          \ the return is a structured dictionary, containing additional metadata\
          \ (like a classic news api). Can be 'string' or 'dicts', or 'both'. 'string'\
          \ guarantees the lowest-latency response 'dicts' requires more I/O, therefore\
          \ increases latency (very slightly, depending on your network connection)."
        explode: true
        in: query
        name: return_type
        required: false
        schema:
          default: dicts
          description: "Type of return value. 'string' means that the return is prompt-optimized\
            \ and ready to be immediately injected into any prompt. 'dicts' means\
            \ that the return is a structured dictionary, containing additional metadata\
            \ (like a classic news api). Can be 'string' or 'dicts', or 'both'. 'string'\
            \ guarantees the lowest-latency response 'dicts' requires more I/O, therefore\
            \ increases latency (very slightly, depending on your network connection)."
          enum:
          - string
          - dicts
          - both
          title: Return Type
          type: string
        style: form
      - description: "Search on archive of historical news. Defaults to False, meaning\
          \ that the search will only look through the most recent news (48 hours)"
        explode: true
        in: query
        name: historical
        required: false
        schema:
          default: false
          description: "Search on archive of historical news. Defaults to False, meaning\
            \ that the search will only look through the most recent news (48 hours)"
          title: Historical
          type: boolean
        style: form
      - description: "Method to use for searching. 'nl' means Natural Language, which\
          \ is a string that can be any phrase, keyword, question, or paragraph that\
          \ will be used for semantic search on the news. 'kw' means Keyword, which\
          \ can also be any keyword(s), phrase, or paragraph, however the search is\
          \ a direct keyword search on the database. 'both' means both methods will\
          \ be used and results will be ranked according to IRR. 'both' may reduce\
          \ latency by 10 pct in exchange  for improved accuracy."
        explode: true
        in: query
        name: method
        required: false
        schema:
          default: kw
          description: "Method to use for searching. 'nl' means Natural Language,\
            \ which is a string that can be any phrase, keyword, question, or paragraph\
            \ that will be used for semantic search on the news. 'kw' means Keyword,\
            \ which can also be any keyword(s), phrase, or paragraph, however the\
            \ search is a direct keyword search on the database. 'both' means both\
            \ methods will be used and results will be ranked according to IRR. 'both'\
            \ may reduce latency by 10 pct in exchange  for improved accuracy."
          enum:
          - nl
          - kw
          - both
          title: Method
          type: string
        style: form
      - description: Similarity score threshold to determine which articles to return.
          Lower means less similar results  are allowed.
        explode: true
        in: query
        name: similarity_score_threshold
        required: false
        schema:
          default: 0.5
          description: Similarity score threshold to determine which articles to return.
            Lower means less similar results  are allowed.
          title: Similarity Score Threshold
          type: number
        style: form
      - description: "Offset for pagination. The n_articles is your page size, while\
          \ your offset is the number of articles to skip to get to your page of interest.\
          \ For example, if you want to get page 3 for n_article page size of 10,\
          \ you would set offset to 20."
        explode: true
        in: query
        name: offset
        required: false
        schema:
          $ref: '#/components/schemas/Offset'
        style: form
      - description: Categories of news to filter on
        explode: true
        in: query
        name: categories
        required: false
        schema:
          description: Categories of news to filter on
          items:
            enum:
            - All
            - Business
            - Crime
            - Politics
            - Science
            - Sports
            - Technology
            - Military
            - Health
            - Entertainment
            - Finance
            - Culture
            - Climate
            - Environment
            - World
            type: string
          type: array
        style: form
      - description: Document start delimiter for string return.
        explode: true
        in: query
        name: doc_start_delimiter
        required: false
        schema:
          default: <doc>
          description: Document start delimiter for string return.
          title: Doc Start Delimiter
          type: string
        style: form
      - description: Document end delimiter for string return.
        explode: true
        in: query
        name: doc_end_delimiter
        required: false
        schema:
          default: </doc>
          description: Document end delimiter for string return.
          title: Doc End Delimiter
          type: string
        style: form
      - description: Filter articles based on how provocative they are deemed based
          on the use of provocative language and emotional vocabulary.
        explode: true
        in: query
        name: provocative
        required: false
        schema:
          description: Filter articles based on how provocative they are deemed based
            on the use of provocative language and emotional vocabulary.
          enum:
          - unknown
          - low
          - medium
          - high
          - all
          title: Provocative
          type: string
        style: form
      - description: Type of reporting voice to filer by.
        explode: true
        in: query
        name: reporting_voice
        required: false
        schema:
          $ref: '#/components/schemas/Reporting_Voice'
        style: form
      - description: "filter by domain url of interest. This can be a single domain\
          \ or a list of domains. For example, 'npr.org' or ['nature.com', 'npr.org']"
        explode: true
        in: query
        name: domain_url
        required: false
        schema:
          $ref: '#/components/schemas/Domain_Url'
        style: form
      - description: blacklist of domains that must be excluded from resultsThis can
          be a single domain url or a list of domain urls.
        explode: true
        in: query
        name: bad_domain_url
        required: false
        schema:
          $ref: '#/components/schemas/Bad_Domain_Url'
        style: form
      - description: Maximum allowed page rank for returned articles.
        explode: true
        in: query
        name: page_rank
        required: false
        schema:
          nullable: true
          type: integer
        style: form
      - description: "Ensure that the return set of articles are selected from diverse\
          \ sources. This adds latency to the search, but attempts to balance the\
          \ representation of sources by country and source origins. In summary, a\
          \ net is cast around your search, then the diversity of sources is analyzed,\
          \ and your final result matches the large net diversity distribution. This\
          \ means that your search accuracy is reduced, but you gain more diverse\
          \ perspectives."
        explode: true
        in: query
        name: diversify_sources
        required: false
        schema:
          default: false
          description: "Ensure that the return set of articles are selected from diverse\
            \ sources. This adds latency to the search, but attempts to balance the\
            \ representation of sources by country and source origins. In summary,\
            \ a net is cast around your search, then the diversity of sources is analyzed,\
            \ and your final result matches the large net diversity distribution.\
            \ This means that your search accuracy is reduced, but you gain more diverse\
            \ perspectives."
          title: Diversify Sources
          type: boolean
        style: form
      - description: "Strategy to use for searching. 'latest news' automatically setsmethod='nl',\
          \ historical=False, and looks within the past 24 hours. 'news knowledge'\
          \ automatically sets method='kw', historical=True, and looks within the\
          \ past 60 days. 'news knowledge' will increase latency due to the  larger\
          \ search space in the archive. Use 'default' if you want to control  start_timestamp,\
          \ end_timestamp, historical, and method."
        explode: true
        in: query
        name: strategy
        required: false
        schema:
          default: default
          description: "Strategy to use for searching. 'latest news' automatically\
            \ setsmethod='nl', historical=False, and looks within the past 24 hours.\
            \ 'news knowledge' automatically sets method='kw', historical=True, and\
            \ looks within the past 60 days. 'news knowledge' will increase latency\
            \ due to the  larger search space in the archive. Use 'default' if you\
            \ want to control  start_timestamp, end_timestamp, historical, and method."
          enum:
          - latest news
          - news knowledge
          - default
          title: Strategy
          type: string
        style: form
      - description: "Can be set to easily control the look back on the search. This\
          \ is the same as controlling the 'start_timestamp' parameter. The difference\
          \ is that this is not a timestamp, it is the number of hours back to look\
          \ from the current time. Defaults to 24 hours."
        explode: true
        in: query
        name: hours_back
        required: false
        schema:
          default: 24
          description: "Can be set to easily control the look back on the search.\
            \ This is the same as controlling the 'start_timestamp' parameter. The\
            \ difference is that this is not a timestamp, it is the number of hours\
            \ back to look from the current time. Defaults to 24 hours."
          title: Hours Back
          type: integer
        style: form
      - description: "If defined, the search will only occur on articles that contain\
          \ strings in this list."
        explode: true
        in: query
        name: string_guarantee
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: Operator to use for string guarantee list.
        explode: true
        in: query
        name: string_guarantee_op
        required: false
        schema:
          default: AND
          description: Operator to use for string guarantee list.
          enum:
          - AND
          - OR
          title: String Guarantee Op
          type: string
        style: form
      - description: "If defined, the search will only occur on articles that do not\
          \ contain strings in this list."
        explode: true
        in: query
        name: reverse_string_guarantee
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Entity guarantee to filter by. This is a list of strings, where\
          \ each string includes entity type and entity value separated by a colon.\
          \ The first element is the entity type and the second element is the entity\
          \ value. For example ['Location:Paris', 'Person:John']"
        explode: true
        in: query
        name: entity_guarantee
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Reverse entity guarantee to filter by. This is a list of strings,\
          \ where each string includes entity type and entity value separated by a\
          \ colon. The first element is the entity type and the second element is\
          \ the entity value. For example ['Location:Paris', 'Person:John']"
        explode: true
        in: query
        name: reverse_entity_guarantee
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: Operator to use for entity guarantee list.
        explode: true
        in: query
        name: entity_guarantee_op
        required: false
        schema:
          default: OR
          description: Operator to use for entity guarantee list.
          enum:
          - AND
          - OR
          title: Entity Guarantee Op
          type: string
        style: form
      - description: Return graphs for the articles. Only available to Analyst tier
          and above.
        explode: true
        in: query
        name: return_graphs
        required: false
        schema:
          default: false
          description: Return graphs for the articles. Only available to Analyst tier
            and above.
          title: Return Graphs
          type: boolean
        style: form
      - description: Return GeoCoordinates associated with locations discussed  inside
          the articles. Only available to Analyst tier and above.
        explode: true
        in: query
        name: return_geo
        required: false
        schema:
          default: false
          description: Return GeoCoordinates associated with locations discussed  inside
            the articles. Only available to Analyst tier and above.
          title: Return Geo
          type: boolean
        style: form
      - description: "Languages to filter by. This is the two-letter 'set 1' of the\
          \ ISO 639-1 standard. For example: English is 'en'."
        explode: true
        in: query
        name: languages
        required: false
        schema:
          items:
            enum:
            - en
            - de
            - es
            - fr
            - it
            - pt
            - ru
            - ar
            - tr
            - zh
            - jp
            - ko
            - sv
            - nl
            - "no"
            - da
            - uk
            - pl
            - hi
            type: string
          nullable: true
          type: array
        style: form
      - description: "Source countries to filter by (this is only for the publisher\
          \ location, not the locations mentioned in articles. For Locations mentioned\
          \ in articles, refer to entity_guarantee), countries must be the two-letter\
          \ ISO country codeFor example: United States is 'US', France is 'FR', Sweden\
          \ is 'SE'."
        explode: true
        in: query
        name: countries
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Source countries to blacklist from search (this is only for\
          \ the publisher location, not the locations mentioned in articles. For Locations\
          \ mentioned in articles, refer to reverse_entity_guarantee), countries must\
          \ be the two-letter ISO country codeFor example: United States is 'US',\
          \ France is 'FR', Sweden is 'SE'."
        explode: true
        in: query
        name: countries_blacklist
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: Continents to filter by.
        explode: true
        in: query
        name: continents
        required: false
        schema:
          items:
            enum:
            - Africa
            - Asia
            - Oceania
            - Europe
            - Middle East
            - North America
            - South America
            type: string
          nullable: true
          type: array
        style: form
      - description: Sentiment to filter articles by.
        explode: true
        in: query
        name: sentiment
        required: false
        schema:
          enum:
          - negative
          - neutral
          - positive
          nullable: true
          type: string
        style: form
      - description: Include premium sources.
        explode: true
        in: query
        name: premium
        required: false
        schema:
          default: false
          description: Include premium sources.
          title: Premium
          type: boolean
        style: form
      - description: Authors to filter articles by.
        explode: true
        in: query
        name: authors
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
          description: A string or a list of dictionaries
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorModel'
          description: Unprocessable Entity
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/abc__APIErrorModel__1'
          description: Method Not Allowed
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/abc__APIErrorModel__2'
          description: Forbidden
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/abc__APIErrorModel__3'
          description: Unauthorized
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/abc__APIErrorModel__4'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/asknews_api__errors__APIErrorModel'
          description: Internal Server Error
      security:
      - APIKey: []
      summary: Search for enriched real-time news context
      tags:
      - news
  /v1/news/graph:
    post:
      description: |-
        Explore our mega-news-knowledge-graph at which ever level of resolution you need.

        Fully disambiguated and ready to be used in any downstream application.

        Pass a natural language query to get a graph of the latest news. Add parameters
        to build a graph from our archive, filter your graph by language, country, reporting voice,
        sentiment, provocative levels, and much more.
      operationId: build_graph
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_build_graph'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphResponse'
          description: "A fully disambiguated knowledge graph, dismabiguation metadata,\
            \ and the full list of news articles"
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorModel'
          description: Unprocessable Entity
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/abc__APIErrorModel__5'
          description: Method Not Allowed
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/abc__APIErrorModel__6'
          description: Forbidden
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/abc__APIErrorModel__7'
          description: Unauthorized
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/abc__APIErrorModel__8'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/asknews_api__errors__APIErrorModel'
          description: Internal Server Error
      security:
      - APIKey: []
      summary: Build a custom mega-news-knowledge graph
      tags:
      - graph
  /v1/news/index_urls:
    post:
      description: Index a list of news article URLs.
      operationId: index_urls
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/URLIndexingRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexUrlsResponse'
          description: Job ID and status
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorModel'
          description: Unprocessable Entity
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/abc__APIErrorModel__9'
          description: Method Not Allowed
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/abc__APIErrorModel__10'
          description: Forbidden
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/abc__APIErrorModel__11'
          description: Unauthorized
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/abc__APIErrorModel__12'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/asknews_api__errors__APIErrorModel'
          description: Internal Server Error
      security:
      - APIKey: []
      summary: Index a list of URLs into AskNews
      tags:
      - index_urls
  /v1/news:
    get:
      description: Get articles given a list of UUIDs.
      operationId: get_articles
      parameters:
      - description: Article UUIDs to fetch.
        explode: true
        in: query
        name: article_ids
        required: true
        schema:
          description: Article UUIDs to fetch.
          items:
            format: uuid
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SearchResponseDictItem'
                type: array
          description: A list of news articles
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorModel'
          description: Unprocessable Entity
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/abc__APIErrorModel__13'
          description: Method Not Allowed
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/abc__APIErrorModel__14'
          description: Forbidden
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/abc__APIErrorModel__15'
          description: Unauthorized
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/abc__APIErrorModel__16'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/asknews_api__errors__APIErrorModel'
          description: Internal Server Error
      security:
      - APIKey: []
      summary: Get multiple articles by UUID
      tags:
      - news
  /v1/news/{article_id}:
    get:
      description: Get a single article given a UUID.
      operationId: get_article
      parameters:
      - description: Article ID to retrieve
        explode: false
        in: path
        name: article_id
        required: true
        schema:
          description: Article ID to retrieve
          title: Article Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponseDictItem'
          description: A single news article
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorModel'
          description: Unprocessable Entity
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/abc__APIErrorModel__17'
          description: Method Not Allowed
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/abc__APIErrorModel__18'
          description: Forbidden
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/abc__APIErrorModel__19'
          description: Unauthorized
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/abc__APIErrorModel__20'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/asknews_api__errors__APIErrorModel'
          description: Internal Server Error
      security:
      - APIKey: []
      summary: Get an article by its UUID
      tags:
      - news
  /v1/sources:
    get:
      description: |-
        This endpoint is primarly used for transparency and monitoring the
        diversity of the data.

        Visualized at `https://asknews.app/transparency`.

        Get the distribution of sources/languages/countries underlying AskNews content.
      operationId: get_sources_report
      parameters:
      - description: Number of points to return
        explode: true
        in: query
        name: n_points
        required: false
        schema:
          default: 100
          description: Number of points to return
          title: N Points
          type: integer
        style: form
      - description: Start timestamp to filter by
        explode: true
        in: query
        name: start_timestamp
        required: false
        schema:
          nullable: true
          type: integer
        style: form
      - description: End timestamp to filter by
        explode: true
        in: query
        name: end_timestamp
        required: false
        schema:
          nullable: true
          type: integer
        style: form
      - description: Metric to filter by
        explode: true
        in: query
        name: metric
        required: false
        schema:
          default: countries_diversity
          description: Metric to filter by
          enum:
          - duplication
          - countries_diversity
          - languages_diversity
          - sources_diversity
          - bucket_loss
          title: Metric
          type: string
        style: form
      - description: Sampling to use
        explode: true
        in: query
        name: sampling
        required: false
        schema:
          default: 1h
          description: Sampling to use
          enum:
          - 5m
          - 1h
          - 4h
          - 1d
          title: Sampling
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceReportResponse'
          description: "A time-series for distribution of sources, countries, and\
            \ languages of underling AskNews content and analytics."
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorModel'
          description: Unprocessable Entity
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/abc__APIErrorModel__21'
          description: Method Not Allowed
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/abc__APIErrorModel__22'
          description: Forbidden
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/abc__APIErrorModel__23'
          description: Unauthorized
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/abc__APIErrorModel__24'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/asknews_api__errors__APIErrorModel'
          description: Internal Server Error
      security:
      - APIKey: []
      summary: Get the sources underlying AskNews
      tags:
      - news
  /v1/index_counts:
    get:
      description: |-
        This endpoint is primarly used for the publisher dashboard, to
        show the number of articles indexed per source.
      operationId: get_index_counts
      parameters:
      - description: Start timestamp to filter by
        explode: true
        in: query
        name: start_datetime
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: End timestamp to filter by
        explode: true
        in: query
        name: end_datetime
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: Domain or list of domains to get indexing counts for
        explode: true
        in: query
        name: domains
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: Sampling to use
        explode: true
        in: query
        name: sampling
        required: false
        schema:
          default: 1d
          description: Sampling to use
          enum:
          - 5m
          - 1h
          - 12h
          - 1d
          - 1w
          - 1m
          title: Sampling
          type: string
        style: form
      - description: "Control which date type to filter on. 'crawl_date' is the date\
          \ the article was crawled, 'pub_date' is the date the article was published."
        explode: true
        in: query
        name: time_filter
        required: false
        schema:
          default: pub_date
          description: "Control which date type to filter on. 'crawl_date' is the\
            \ date the article was crawled, 'pub_date' is the date the article was\
            \ published."
          enum:
          - crawl_date
          - pub_date
          title: Time Filter
          type: string
        style: form
      - description: Categories of news to filter on
        explode: true
        in: query
        name: categories
        required: false
        schema:
          items:
            enum:
            - All
            - Business
            - Crime
            - Politics
            - Science
            - Sports
            - Technology
            - Military
            - Health
            - Entertainment
            - Finance
            - Culture
            - Climate
            - Environment
            - World
            type: string
          nullable: true
          type: array
        style: form
      - description: Filter articles based on how provocative they are deemed based
          on the use of provocative language and emotional vocabulary.
        explode: true
        in: query
        name: provocative
        required: false
        schema:
          enum:
          - unknown
          - low
          - medium
          - high
          - all
          nullable: true
          type: string
        style: form
      - description: Type of reporting voice to filer by.
        explode: true
        in: query
        name: reporting_voice
        required: false
        schema:
          items:
            enum:
            - Objective
            - Subjective
            - Investigative
            - Narrative
            - Analytical
            - Advocacy
            - Conversational
            - Satirical
            - Emotive
            - Explanatory
            - Persuasive
            - Sensational
            - Unknown
            - all
            type: string
          nullable: true
          type: array
        style: form
      - description: blacklist of domains that must be excluded from resultsThis can
          be a single domain url or a list of domain urls.
        explode: true
        in: query
        name: bad_domain_url
        required: false
        schema:
          $ref: '#/components/schemas/Bad_Domain_Url_1'
        style: form
      - description: maximum allowed pagerank for returned articles
        explode: true
        in: query
        name: page_rank
        required: false
        schema:
          nullable: true
          type: integer
        style: form
      - description: "If defined, the search will only occur on articles that contain\
          \ this string."
        explode: true
        in: query
        name: string_guarantee
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: Operator to use for string guarantee.
        explode: true
        in: query
        name: string_guarantee_op
        required: false
        schema:
          default: AND
          description: Operator to use for string guarantee.
          enum:
          - AND
          - OR
          title: String Guarantee Op
          type: string
        style: form
      - description: "If defined, the search will only occur on articles that do not\
          \ contain this string."
        explode: true
        in: query
        name: reverse_string_guarantee
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Entity guarantee to filter by. This is a list of strings, where\
          \ each string includes entity type and entity value separated by a colon.\
          \ The first element is the entity type and the second element is the entity\
          \ value. For example ['Location:Paris', 'Person:John']"
        explode: true
        in: query
        name: entity_guarantee
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: Operator to use for entity guarantee.
        explode: true
        in: query
        name: entity_guarantee_op
        required: false
        schema:
          default: OR
          description: Operator to use for entity guarantee.
          enum:
          - AND
          - OR
          title: Entity Guarantee Op
          type: string
        style: form
      - description: "Languages to filter by. This is the two-letter 'set 1' of the\
          \ ISO 639-1 standard. For example: English is 'en'."
        explode: true
        in: query
        name: languages
        required: false
        schema:
          items:
            enum:
            - en
            - de
            - es
            - fr
            - it
            - pt
            - ru
            - ar
            - tr
            - zh
            - jp
            - ko
            - sv
            - nl
            - "no"
            - da
            - uk
            - pl
            - hi
            type: string
          nullable: true
          type: array
        style: form
      - description: "Source countries to filter by (this is only for the publisher\
          \ location, not the locations mentioned in articles. For Locations mentioned\
          \ in articles, refer to entity_guarantee), countries must be the two-letter\
          \ ISO country codeFor example: United States is 'US', France is 'FR', Sweden\
          \ is 'SE'."
        explode: true
        in: query
        name: countries
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Source countries to blacklist from search (this is only for\
          \ the publisher location, not the locations mentioned in articles. For Locations\
          \ mentioned in articles, refer to reverse_entity_guarantee), countries must\
          \ be the two-letter ISO country codeFor example: United States is 'US',\
          \ France is 'FR', Sweden is 'SE'."
        explode: true
        in: query
        name: countries_blacklist
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: Continents to filter by
        explode: true
        in: query
        name: continents
        required: false
        schema:
          items:
            enum:
            - Africa
            - Asia
            - Oceania
            - Europe
            - Middle East
            - North America
            - South America
            type: string
          nullable: true
          type: array
        style: form
      - description: Sentiment to filter news articles by.
        explode: true
        in: query
        name: sentiment
        required: false
        schema:
          enum:
          - negative
          - neutral
          - positive
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/IndexCountItem'
                type: array
          description: A time-series for distribution of index counts for domains.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorModel'
          description: Unprocessable Entity
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/abc__APIErrorModel__25'
          description: Method Not Allowed
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/abc__APIErrorModel__26'
          description: Forbidden
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/abc__APIErrorModel__27'
          description: Unauthorized
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/abc__APIErrorModel__28'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/asknews_api__errors__APIErrorModel'
          description: Internal Server Error
      security:
      - APIKey: []
      summary: Get the index counts underlying AskNews
      tags:
      - news
  /v1/openai/chat/completions:
    post:
      description: |-
        Get the chat completions for a given user message. This endpoint follows the
        OpenAI API spec. It includes a couple extra params, which include:

        - **journalist_mode**: Whether to activate an auto prompt that is more keen on AP styling,
        citations, and fair reporting. Setting to false, you get a vanilla LLM with the news pre
        added to the system prompt. No other prompting.
        - **inline_citations**: Decides how you want the bot to cite sources. It can use brackets,
        or it can also include the markdown with URL automatically.
        - **asknews_watermark**: Whether to include the AskNews watermark in the response.
      operationId: get_chat_completions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChatCompletionRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateChatCompletionResponse_1'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/CreateChatCompletionResponseStream_1'
          description: Chat completions for a given user message
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorModel'
          description: Unprocessable Entity
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/abc__APIErrorModel__29'
          description: Method Not Allowed
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/abc__APIErrorModel__30'
          description: Forbidden
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/abc__APIErrorModel__31'
          description: Unauthorized
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/abc__APIErrorModel__32'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/asknews_api__errors__APIErrorModel'
          description: Internal Server Error
      security:
      - APIKey: []
      summary: Get chat completions from a news-infused AI assistant
      tags:
      - chat
  /v1/chat/deepnews:
    post:
      operationId: deep_news
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDeepNewsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDeepNewsResponse_1'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/CreateDeepNewsResponseStreamChunk_1'
          description: Deep news research.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorModel'
          description: Unprocessable Entity
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/abc__APIErrorModel__33'
          description: Method Not Allowed
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/abc__APIErrorModel__34'
          description: Forbidden
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/abc__APIErrorModel__35'
          description: Unauthorized
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/abc__APIErrorModel__36'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/asknews_api__errors__APIErrorModel'
          description: Internal Server Error
      security:
      - APIKey: []
      summary: "Deep research into real-time news, archive news, and Google."
      tags:
      - chat
  /v1/openai/models:
    get:
      description: List the available chat models.
      operationId: list_chat_models
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListModelResponse'
          description: Available chat models
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKey: []
      summary: List available chat models
      tags:
      - chat
  /v1/chat/questions:
    get:
      description: Get the headline example questions related to the given queries.
      operationId: get_headline_questions
      parameters:
      - description: Queries to get questions for
        explode: true
        in: query
        name: queries
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    type: string
                title: Response 200 Get Headline Questions
          description: Example questions
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKey: []
      summary: Get example headline questions
      tags:
      - chat
  /v1/chat/forecast:
    get:
      description: |-
        Make an expert forecast for a news event.

        This endpoint reaches into the news archive, looking back `lookback` days to
        extract the most relevant news articles, building a timeline of events, and
        then making an expert forecast.

        This endpoint is more expensive than the search endpoint, it is calling
        gpt-4o or claude 3-5 on approx 15k tokens to build the forecast.
        This endpoint counts toward "deep" calls in the billing system.

        It returns the forecast, the reasoning, and the sources.
      operationId: get_forecast
      parameters:
      - description: The requested forecast.
        explode: true
        in: query
        name: query
        required: true
        schema:
          description: The requested forecast.
          title: Query
          type: string
        style: form
      - description: The number of days to look back for the forecast.
        explode: true
        in: query
        name: lookback
        required: false
        schema:
          default: 14
          description: The number of days to look back for the forecast.
          title: Lookback
          type: integer
        style: form
      - description: The total number of relevant articles to be extracted from the
          news archive and used for the forecast.
        explode: true
        in: query
        name: articles_to_use
        required: false
        schema:
          default: 15
          description: The total number of relevant articles to be extracted from
            the news archive and used for the forecast.
          title: Articles To Use
          type: integer
        style: form
      - description: Method to use for the context search Currently only 'kw' is supported.
        explode: true
        in: query
        name: method
        required: false
        schema:
          default: kw
          description: Method to use for the context search Currently only 'kw' is
            supported.
          enum:
          - kw
          title: Method
          type: string
        style: form
      - description: The model to use for the forecast.
        explode: true
        in: query
        name: model
        required: false
        schema:
          default: gpt-4.1-2025-04-14
          description: The model to use for the forecast.
          enum:
          - gpt-4o
          - gpt-4o-mini
          - gpt-4.1-2025-04-14
          - claude-3-5-sonnet-latest
          - claude-3-5-sonnet-20240620
          - claude-sonnet-4-20250514
          - claude-opus-4-20250514
          - claude-sonnet-4-5-20250929
          - o1-mini
          - o3-mini
          - o3
          title: Model
          type: string
        style: form
      - description: The cutoff date for the forecast. String format is 'YYYY-MM-DD-HH:MM'.
          This is useful  for backtesting forecasts.
        explode: true
        in: query
        name: cutoff_date
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Whether to use Reddit data for the forecast.enterprise customers
          only.
        explode: true
        in: query
        name: use_reddit
        required: false
        schema:
          default: false
          description: Whether to use Reddit data for the forecast.enterprise customers
            only.
          title: Use Reddit
          type: boolean
        style: form
      - description: Additional context to use for the forecast.
        explode: true
        in: query
        name: additional_context
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Whether to run a live web search and include results in the forecast.
          enterprise customers only.
        explode: true
        in: query
        name: web_search
        required: false
        schema:
          default: false
          description: Whether to run a live web search and include results in the
            forecast. enterprise customers only.
          title: Web Search
          type: boolean
        style: form
      - description: The type of expert to use for the forecast.
        explode: true
        in: query
        name: expert
        required: false
        schema:
          default: general
          description: The type of expert to use for the forecast.
          enum:
          - general
          - sports
          title: Expert
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForecastResponse'
          description: "A fully structured Forecast, complete with research."
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKey: []
      summary: Make an expert forecast for a news event.
      tags:
      - forecast
  /v1/chat/websearch:
    get:
      description: |-
        Run a live websearch on a set of queries, get back a fully structured and
        LLM-distilled response (in addition to the raw text if you need that as well).

        Your response includes as_string and as_dicts, where as_string is a prompt-optimized
        distillation of the information, done by an LLM. as_dicts contains all the details
        necessary to feed into other parts of your application.
      operationId: live_web_search
      parameters:
      - description: "A list of queries to be live searched, analyzed, distilled,\
          \ and structured."
        explode: true
        in: query
        name: queries
        required: true
        schema:
          description: "A list of queries to be live searched, analyzed, distilled,\
            \ and structured."
          items:
            nullable: true
            type: string
          type: array
        style: form
      - description: Number of hours back to allow the websearch to look. Defaults
          to All time
        explode: true
        in: query
        name: lookback
        required: false
        schema:
          nullable: true
          type: integer
        style: form
      - description: A list of domains to search.
        explode: true
        in: query
        name: domains
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "If true, the websearch will only return results that have a\
          \ known publication date and are within the lookback period."
        explode: true
        in: query
        name: strict
        required: false
        schema:
          default: false
          description: "If true, the websearch will only return results that have\
            \ a known publication date and are within the lookback period."
          title: Strict
          type: boolean
        style: form
      - description: The number of results to offset for followup queries.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          nullable: true
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebSearchResponse'
          description: Structured websearch.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKey: []
      summary: Run a live websearch.
      tags:
      - websearch
  /v1/chat/autofilter:
    get:
      description: |-
        This is a helper endpoint designed to intelligently populate the
        "parameters of the /news search endpoint of AskNews. It takes a description
        of the type of news that you want to access, and then maps it to the available
        parameters automatically.

        This endpoint returns the parameters, called filter_params, which can be used
        in a variety of other AskNews endpoints, for example, /news, /graph, /chat.
      operationId: autofilter
      parameters:
      - description: A description of what kind of news you want to get.
        explode: true
        in: query
        name: query
        required: true
        schema:
          description: A description of what kind of news you want to get.
          title: Query
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterParamsResponse'
          description: Filter params ready to be used.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKey: []
      summary: Generate filter params for AskNews endpoints
      tags:
      - autofilter
  /v1/chat/alerts:
    get:
      description: Get all created alerts.
      operationId: get_alerts
      parameters:
      - description: The page number to get
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          description: The page number to get
          title: Page
          type: integer
        style: form
      - description: The number of items per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 10
          description: The number of items per page
          title: Per Page
          type: integer
        style: form
      - description: Whether to get all the alerts
        explode: true
        in: query
        name: all
        required: false
        schema:
          default: false
          description: Whether to get all the alerts
          title: All
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse_AlertResponse_'
          description: List of alerts.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKey: []
      summary: Get all created alerts
      tags:
      - alerts
    post:
      description: Create an alert.
      operationId: create_alert
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAlertRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertResponse'
          description: Created alert.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKey: []
      summary: Create an alert
      tags:
      - alerts
  /v1/chat/alerts/logs:
    get:
      description: Get all alert logs.
      operationId: get_all_alert_logs
      parameters:
      - description: The alert ID
        explode: true
        in: query
        name: alert_id
        required: false
        schema:
          format: uuid
          nullable: true
          type: string
        style: form
      - description: The ID of the user to get logs for
        explode: true
        in: query
        name: user_id
        required: false
        schema:
          format: uuid
          nullable: true
          type: string
        style: form
      - description: The page number to get
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          description: The page number to get
          title: Page
          type: integer
        style: form
      - description: The number of items per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 10
          description: The number of items per page
          title: Per Page
          type: integer
        style: form
      - description: Whether to get all the alert logs
        explode: true
        in: query
        name: all
        required: false
        schema:
          default: false
          description: Whether to get all the alert logs
          title: All
          type: boolean
        style: form
      - description: Timestamp to start search from
        explode: true
        in: query
        name: start_timestamp
        required: false
        schema:
          nullable: true
          type: integer
        style: form
      - description: Timestamp to end search at
        explode: true
        in: query
        name: end_timestamp
        required: false
        schema:
          nullable: true
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse_AlertLog_'
          description: Returns all alert logs.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKey: []
      summary: Get all alert logs
      tags:
      - alerts
  /v1/chat/alerts/{alert_id}:
    delete:
      description: Delete an alert.
      operationId: delete_alert
      parameters:
      - description: The alert ID
        explode: false
        in: path
        name: alert_id
        required: true
        schema:
          description: The alert ID
          format: uuid
          title: Alert Id
          type: string
        style: simple
      responses:
        "204":
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKey: []
      summary: Delete an alert
      tags:
      - alerts
    get:
      description: Get an alert.
      operationId: get_alert
      parameters:
      - description: The alert ID
        explode: false
        in: path
        name: alert_id
        required: true
        schema:
          description: The alert ID
          format: uuid
          title: Alert Id
          type: string
        style: simple
      - description: The ID of the user to get logs for
        explode: true
        in: query
        name: user_id
        required: false
        schema:
          format: uuid
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertResponse'
          description: Returns alert.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKey: []
      summary: Get an alert
      tags:
      - alerts
    put:
      description: Update an alert.
      operationId: put_alert
      parameters:
      - description: The alert ID
        explode: false
        in: path
        name: alert_id
        required: true
        schema:
          description: The alert ID
          format: uuid
          title: Alert Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAlertRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertResponse'
          description: Returns alert.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKey: []
      summary: Update an alert
      tags:
      - alerts
  /v1/chat/alerts/{alert_id}/run:
    get:
      description: Get an alert.
      operationId: run_alert
      parameters:
      - description: The alert ID
        explode: false
        in: path
        name: alert_id
        required: true
        schema:
          description: The alert ID
          format: uuid
          title: Alert Id
          type: string
        style: simple
      - description: The ID of the user to get logs for
        explode: true
        in: query
        name: user_id
        required: false
        schema:
          format: uuid
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertResponse'
          description: Returns alert.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKey: []
      summary: Run an existing alert
      tags:
      - alerts
  /v1/chat/alerts/{alert_id}/logs:
    get:
      description: Get alert logs.
      operationId: get_alert_logs
      parameters:
      - description: The alert ID
        explode: false
        in: path
        name: alert_id
        required: true
        schema:
          description: The alert ID
          format: uuid
          title: Alert Id
          type: string
        style: simple
      - description: The ID of the user to get logs for
        explode: true
        in: query
        name: user_id
        required: false
        schema:
          format: uuid
          nullable: true
          type: string
        style: form
      - description: The page number to get
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          description: The page number to get
          title: Page
          type: integer
        style: form
      - description: The number of items per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 10
          description: The number of items per page
          title: Per Page
          type: integer
        style: form
      - description: Whether to get all the alert logs
        explode: true
        in: query
        name: all
        required: false
        schema:
          default: false
          description: Whether to get all the alert logs
          title: All
          type: boolean
        style: form
      - description: Timestamp to start search from
        explode: true
        in: query
        name: start_timestamp
        required: false
        schema:
          nullable: true
          type: integer
        style: form
      - description: Timestamp to end search at
        explode: true
        in: query
        name: end_timestamp
        required: false
        schema:
          nullable: true
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse_AlertLog_'
          description: Returns alert logs.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKey: []
      summary: Get alert logs
      tags:
      - alerts
  /v1/chat/newsletters:
    get:
      description: Get all created newsletters.
      operationId: get_newsletters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse_NewsletterResponse_'
          description: List of newsletters.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKey: []
      summary: Get all created newsletters
      tags:
      - newsletters
    post:
      description: Create a newsletter.
      operationId: post_newsletter
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNewsletterRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsletterResponse'
          description: Created newsletter.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKey: []
      summary: Create a newsletter
      tags:
      - newsletters
  /v1/chat/newsletters/public:
    get:
      description: Get all public newsletters.
      operationId: get_public_newsletters
      parameters:
      - description: The page number to get
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          description: The page number to get
          title: Page
          type: integer
        style: form
      - description: The number of items per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 10
          description: The number of items per page
          title: Per Page
          type: integer
        style: form
      - description: Whether to get all the public newsletters
        explode: true
        in: query
        name: all
        required: false
        schema:
          default: false
          description: Whether to get all the public newsletters
          title: All
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse_NewsletterPublicResponse_'
          description: List of public newsletters.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKey: []
      summary: Get all public newsletters
      tags:
      - newsletters
  /v1/chat/newsletters/{newsletter_id}:
    delete:
      description: Delete a newsletter.
      operationId: delete_newsletter
      parameters:
      - description: The newsletter ID
        explode: false
        in: path
        name: newsletter_id
        required: true
        schema:
          description: The newsletter ID
          format: uuid
          title: Newsletter Id
          type: string
        style: simple
      responses:
        "204":
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKey: []
      summary: Delete a newsletter
      tags:
      - newsletters
    get:
      description: Get a newsletter.
      operationId: get_newsletter
      parameters:
      - description: The newsletter ID
        explode: false
        in: path
        name: newsletter_id
        required: true
        schema:
          description: The newsletter ID
          format: uuid
          title: Newsletter Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsletterResponse'
          description: Returns newsletter.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKey: []
      summary: Get a newsletter
      tags:
      - newsletters
    put:
      description: Update a newsletter.
      operationId: put_newsletter
      parameters:
      - description: The newsletter ID
        explode: false
        in: path
        name: newsletter_id
        required: true
        schema:
          description: The newsletter ID
          format: uuid
          title: Newsletter Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateNewsletterRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsletterResponse'
          description: Returns newsletter.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKey: []
      summary: Update a newsletter
      tags:
      - newsletters
  /v1/chat/newsletters/{newsletter_id}/unsubscribe:
    post:
      description: Unsubscribe from a newsletter.
      operationId: unsubscribe_newsletter
      parameters:
      - description: The newsletter ID
        explode: false
        in: path
        name: newsletter_id
        required: true
        schema:
          description: The newsletter ID
          format: uuid
          title: Newsletter Id
          type: string
        style: simple
      responses:
        "204":
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKey: []
      summary: Unsubscribe from a newsletter
      tags:
      - newsletters
  /v1/chat/newsletters/{newsletter_id}/contacts:
    get:
      description: Get newsletter contacts.
      operationId: get_newsletter_contacts
      parameters:
      - description: The newsletter ID
        explode: false
        in: path
        name: newsletter_id
        required: true
        schema:
          description: The newsletter ID
          format: uuid
          title: Newsletter Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NewsletterContactResponse'
                type: array
          description: Returns newsletter contacts.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKey: []
      summary: Get newsletter contacts
      tags:
      - newsletters
    post:
      description: Create a newsletter contact.
      operationId: post_newsletter_contacts
      parameters:
      - description: The newsletter ID
        explode: false
        in: path
        name: newsletter_id
        required: true
        schema:
          description: The newsletter ID
          format: uuid
          title: Newsletter Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewsletterContactRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsletterContactCreateResponse'
          description: Newsletter contact
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKey: []
      summary: Create a newsletter contact
      tags:
      - newsletters
  /v1/chat/newsletters/{newsletter_id}/contacts/{contact_id}:
    delete:
      description: Delete a newsletter contact.
      operationId: delete_newsletter_contact
      parameters:
      - description: The newsletter ID
        explode: false
        in: path
        name: newsletter_id
        required: true
        schema:
          description: The newsletter ID
          format: uuid
          title: Newsletter Id
          type: string
        style: simple
      - description: The contact ID
        explode: false
        in: path
        name: contact_id
        required: true
        schema:
          description: The contact ID
          title: Contact Id
          type: string
        style: simple
      responses:
        "204":
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKey: []
      summary: Delete a newsletter contact
      tags:
      - newsletters
    get:
      description: Get a newsletter contact.
      operationId: get_newsletter_contact
      parameters:
      - description: The newsletter ID
        explode: false
        in: path
        name: newsletter_id
        required: true
        schema:
          description: The newsletter ID
          format: uuid
          title: Newsletter Id
          type: string
        style: simple
      - description: The contact ID
        explode: false
        in: path
        name: contact_id
        required: true
        schema:
          description: The contact ID
          title: Contact Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsletterContactResponse'
          description: Returns newsletter contact.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKey: []
      summary: Get a newsletter contact
      tags:
      - newsletters
    patch:
      description: Update a newsletter contact.
      operationId: patch_newsletter_contact
      parameters:
      - description: The newsletter ID
        explode: false
        in: path
        name: newsletter_id
        required: true
        schema:
          description: The newsletter ID
          format: uuid
          title: Newsletter Id
          type: string
        style: simple
      - description: The contact ID
        explode: false
        in: path
        name: contact_id
        required: true
        schema:
          description: The contact ID
          title: Contact Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewsletterContactRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsletterContactUpdateResponse'
          description: Returns newsletter contact.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKey: []
      summary: Update a newsletter contact
      tags:
      - newsletters
  /v1/chat/charts:
    post:
      description: Create charts.
      operationId: create_charts_endpoint
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChartRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChartResponse'
          description: Returns chart data.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKey: []
      summary: Create a chart
      tags:
      - charts
  /v1/stories/{story_id}:
    get:
      description: Get a single news story given its UUID.
      operationId: get_story
      parameters:
      - description: "The story UUID, update UUID, or URL safe title"
        explode: false
        in: path
        name: story_id
        required: true
        schema:
          description: "The story UUID, update UUID, or URL safe title"
          title: Story Id
          type: string
        style: simple
      - description: Whether to expand updates
        explode: true
        in: query
        name: expand_updates
        required: false
        schema:
          default: true
          description: Whether to expand updates
          title: Expand Updates
          type: boolean
        style: form
      - description: Max number of updates to include in the story object
        explode: true
        in: query
        name: max_updates
        required: false
        schema:
          default: 10
          description: Max number of updates to include in the story object
          title: Max Updates
          type: integer
        style: form
      - description: Max articles to include per update
        explode: true
        in: query
        name: max_articles
        required: false
        schema:
          default: 25
          description: Max articles to include per update
          title: Max Articles
          type: integer
        style: form
      - description: Whether to include Reddit analysis
        explode: true
        in: query
        name: reddit
        required: false
        schema:
          default: 0
          description: Whether to include Reddit analysis
          title: Reddit
          type: integer
        style: form
      - description: Method to use for citation filtering.
        explode: true
        in: query
        name: citation_method
        required: false
        schema:
          default: brackets
          description: Method to use for citation filtering.
          enum:
          - brackets
          - urls
          - none
          title: Citation Method
          type: string
        style: form
      - description: "When requesting a particular story update, you can expand the\
          \ assocaited updates by settined max_updates to the total you would like\
          \ to get. If you want those updates to by condensed for reduced latency,\
          \ you can set  condense_auxillary_updates to 'False'."
        explode: true
        in: query
        name: condense_auxillary_updates
        required: false
        schema:
          default: true
          description: "When requesting a particular story update, you can expand\
            \ the assocaited updates by settined max_updates to the total you would\
            \ like to get. If you want those updates to by condensed for reduced latency,\
            \ you can set  condense_auxillary_updates to 'False'."
          title: Condense Auxillary Updates
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoryResponse'
          description: A story object containing updates
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorModel'
          description: Unprocessable Entity
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/abc__APIErrorModel__37'
          description: Method Not Allowed
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/abc__APIErrorModel__38'
          description: Forbidden
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/abc__APIErrorModel__39'
          description: Unauthorized
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/abc__APIErrorModel__40'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/asknews_api__errors__APIErrorModel'
          description: Internal Server Error
      security:
      - APIKey: []
      summary: Get a story containing updates
      tags:
      - stories
  /v1/stories:
    get:
      description: |-
        Filter on our custom, in-house written, stories/events/narratives.

        These stories are based on clusters of articles (which come through this
        endpoint as well, so you can consider this a clustering endpoint). We write
        stories and track them through time.

        The enrichments include a full Reddit overview (including all the thread metadata),
        as well as descriptions of the reporting voice, the key takeaways, contradictions,
        all the entities, and much, much more.

        You can see this data in action, and filter it similarly at
        `https://asknews.app/stories`
      operationId: get_stories
      parameters:
      - description: "Query to be used for the search. If method='nl', then this will\
          \ beused as a natural language query. If method='kw', then this willbe used\
          \ as a direct keyword query."
        explode: true
        in: query
        name: query
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Categories to use for filtering the stories search
        explode: true
        in: query
        name: categories
        required: false
        schema:
          default: []
          description: Categories to use for filtering the stories search
          items:
            enum:
            - Politics
            - Economy
            - Finance
            - Science
            - Technology
            - Sports
            - Climate
            - Environment
            - Culture
            - Entertainment
            - Business
            - Health
            - International
            type: string
          type: array
        style: form
      - description: A list of UUIDs to retrieve.
        explode: true
        in: query
        name: uuids
        required: false
        schema:
          default: []
          description: A list of UUIDs to retrieve.
          items:
            format: uuid
            nullable: true
            type: string
          type: array
        style: form
      - description: Start timestamp to filter results on.
        explode: true
        in: query
        name: start_timestamp
        required: false
        schema:
          nullable: true
          type: integer
        style: form
      - description: End timestamp to filter results on.
        explode: true
        in: query
        name: end_timestamp
        required: false
        schema:
          nullable: true
          type: integer
        style: form
      - description: |-
          Which type of sorting to perform.
          published: Sort by published date.
          coverage: Sort by coverage.
          sentiment: Sort by sentiment.
          relevance: Sort by relevance of similarity score/ranking.
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          enum:
          - published
          - coverage
          - sentiment
          - relevance
          - confidence
          nullable: true
          type: string
        style: form
      - description: Whether to sort results in ascending or descending order.
        explode: true
        in: query
        name: sort_type
        required: false
        schema:
          enum:
          - asc
          - desc
          nullable: true
          type: string
        style: form
      - description: Continents to filter by.
        explode: true
        in: query
        name: continent
        required: false
        schema:
          $ref: '#/components/schemas/Continent'
        style: form
      - description: Offset to use
        explode: true
        in: query
        name: offset
        required: false
        schema:
          $ref: '#/components/schemas/Offset_1'
        style: form
      - description: Limit to use
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          description: Limit to use
          title: Limit
          type: integer
        style: form
      - description: Whether to expand updates
        explode: true
        in: query
        name: expand_updates
        required: false
        schema:
          default: false
          description: Whether to expand updates
          title: Expand Updates
          type: boolean
        style: form
      - description: Max updates to use
        explode: true
        in: query
        name: max_updates
        required: false
        schema:
          default: 2
          description: Max updates to use
          title: Max Updates
          type: integer
        style: form
      - description: Max articles to use per update
        explode: true
        in: query
        name: max_articles
        required: false
        schema:
          default: 5
          description: Max articles to use per update
          title: Max Articles
          type: integer
        style: form
      - description: "Method to use for query, 'nl' means natural language, and will\
          \ run a semantic search on the stories database. 'kw' means keyword, and\
          \ will search by keyword on the stories database. 'both' means that both\
          \ methods will be used and results will be ranked according to IRR."
        explode: true
        in: query
        name: method
        required: false
        schema:
          default: kw
          description: "Method to use for query, 'nl' means natural language, and\
            \ will run a semantic search on the stories database. 'kw' means keyword,\
            \ and will search by keyword on the stories database. 'both' means that\
            \ both methods will be used and results will be ranked according to IRR."
          enum:
          - nl
          - kw
          - both
          title: Method
          type: string
        style: form
      - description: "Object type to filter by, can be a list with 'story' and/or\
          \ 'story_update'"
        explode: true
        in: query
        name: obj_type
        required: false
        schema:
          default:
          - story
          description: "Object type to filter by, can be a list with 'story' and/or\
            \ 'story_update'"
          items:
            enum:
            - story
            - story_update
            type: string
          type: array
        style: form
      - description: Whether or not to include Reddit analysiswhere the integer indicates
          the number of threadsto include in the response. 0 is default. Requirespaid
          plan to access.
        explode: true
        in: query
        name: reddit
        required: false
        schema:
          default: 0
          description: Whether or not to include Reddit analysiswhere the integer
            indicates the number of threadsto include in the response. 0 is default.
            Requirespaid plan to access.
          title: Reddit
          type: integer
        style: form
      - description: Method to use for citation filtering.
        explode: true
        in: query
        name: citation_method
        required: false
        schema:
          default: brackets
          description: Method to use for citation filtering.
          enum:
          - brackets
          - urls
          - none
          title: Citation Method
          type: string
        style: form
      - description: Similarity score threshold to use when using query
        explode: true
        in: query
        name: similarity_score_threshold
        required: false
        schema:
          default: 0.75
          description: Similarity score threshold to use when using query
          title: Similarity Score Threshold
          type: number
        style: form
      - description: Filter stories based on how provocative the underlying articles
          are deemed based on the use of provocative language and emotional vocabulary.
        explode: true
        in: query
        name: provocative
        required: false
        schema:
          default: all
          description: Filter stories based on how provocative the underlying articles
            are deemed based on the use of provocative language and emotional vocabulary.
          enum:
          - unknown
          - low
          - medium
          - high
          - all
          title: Provocative
          type: string
        style: form
      - description: "Strategy to use for automatically controlling the search. 'default'\
          \ is the default strategy, which follows all filters faithfully. 'topstories'\
          \ aims to give a diverse look at top news stories that are relevant to the\
          \ current filter combination.'topstories_categories' aims to give the top\
          \ stories for each category. 'topstories_continents' aims to give the top\
          \ stories for each continent."
        explode: true
        in: query
        name: strategy
        required: false
        schema:
          default: default
          description: "Strategy to use for automatically controlling the search.\
            \ 'default' is the default strategy, which follows all filters faithfully.\
            \ 'topstories' aims to give a diverse look at top news stories that are\
            \ relevant to the current filter combination.'topstories_categories' aims\
            \ to give the top stories for each category. 'topstories_continents' aims\
            \ to give the top stories for each continent."
          enum:
          - default
          - topstories
          - topstories_categories
          - topstories_continents
          title: Strategy
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoriesResponse'
          description: A list of stories with updates
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorModel'
          description: Unprocessable Entity
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/abc__APIErrorModel__41'
          description: Method Not Allowed
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/abc__APIErrorModel__42'
          description: Forbidden
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/abc__APIErrorModel__43'
          description: Unauthorized
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/abc__APIErrorModel__44'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/asknews_api__errors__APIErrorModel'
          description: Internal Server Error
      security:
[...]
